<h1>AIS-Explorer</h1>
<p>AIS-Explorer is designed to grant free access to AIS-Data </p>
<p>Because the data is scraped from https://www.marinetraffic.com please use the functions with care and responsibility</p>
<h2>Installing</h2>
<p>Installing is as simple as it could be. Just run <code> pip install aisexplorer </code>

<h2>Get Location by MMIS</h2>
<p>Returns a dictionary or pandas DataFrame containing the requested data. </p>
<p>Without cetting the parameter columns or columns_excluded all data will be fetched </p>

In [1]:
from aisexplorer.AIS import AIS

In [2]:
AIS(return_df=True).get_location(211281610)

NoResultsError: After 10 attempts still no results are given. If you think this is an error in the module raise an issue at https://github.com/reyemb/AISExplorer

<h2>Get AREA by area name </h2>
<p>Returns a list of dictionaries or a pandas DataFrame</p>
<p>You can see all the area names and the corresponding areas on https://help.marinetraffic.com/hc/en-us/articles/214556408-Areas-of-the-World-How-does-MarineTraffic-segment-them- </p>
<p><strong> Maximum 500 rows </strong></p>

In [ ]:
AIS().get_area_data("EMED"); # remove semicolon to see output

In [ ]:
AIS(return_df=True).get_area_data("EMED")

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,371584,1009613,310593000,ZCDX4,ECLIPSE,9,1699623130,3,BM,Bermuda,...,162.5,22.4,ACTIVE,None,0,Aegean Sea,73,MARMARIS,-,false
1,212537,9208679,240389000,SYJZ,BLUE STAR MYCONOS,6,1699623095,2,GR,Greece,...,141.0,21.0,ACTIVE,2023-11-10 13:27:00,73,Piraeus Area,None,None,-,true
2,211352,7909437,239722800,SVBK6,PSARA GLORY,6,1699623133,2,GR,Greece,...,60.1,13.6,ACTIVE,2023-11-10 13:27:00,35,Aegean Sea,None,None,-,true
3,214617,9565041,241159000,SVBF8,BLUE STAR PATMOS,6,1699623097,3,GR,Greece,...,145.9,23.2,ACTIVE,2023-11-10 13:27:00,26,East Mediterranean,None,None,-,true
4,211385,9207584,239737000,SYSV,BLUE STAR 2,6,1699622785,2,GR,Greece,...,176.1,26.2,ACTIVE,2023-11-10 13:27:00,82,Piraeus Area,1,PIRAEUS,-,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,122993,9509126,636019197,D5TJ9,ETE N,7,1699619107,1,LR,Liberia,...,212.5,32.2,ACTIVE,2023-11-10 12:52:00,745,Aegean Sea,None,None,-,true
496,200482,9636424,229785000,9HA5602,OCEAN PARADISE,9,1699622896,2,MT,Malta,...,55.0,9.2,ACTIVE,None,0,Piraeus Area,443,FLISVOS,-,false
497,208093,8412429,237529000,SXYY,AEGAEO,3,1699623111,2,GR,Greece,...,61.5,9.6,ACTIVE,None,0,Aegean Sea,None,None,-,false
498,372077,9330604,636020913,5LBI5,EMERALD I,8,1699620410,2,LR,Liberia,...,243.6,42.0,ACTIVE,None,0,East Mediterranean,None,None,-,false
499,755630,9169768,241610000,SVDA3,ICE HAWK,8,1699623085,2,GR,Greece,...,145.9,22.5,ACTIVE,None,0,Aegean Sea,None,None,-,false

<h2> Use Proxies </h2>

In [ ]:
from aisexplorer.Proxy import FreeProxy

proxy = FreeProxy()
proxy.get()

{'https': '20.219.180.105:3129'}

<h2> Use Proxies directly with AIS </h2>

In [ ]:
AIS(proxy=True, return_df=True, verbose=True, print_query=True).get_area_data("EMED")

ProxiesNoLongerSupportedError: Since using Proxies results in an unreliable experience, they are no longer supported.

<h2> Use Filters </h2>

In [ ]:
ais = AIS(proxy=False, return_df=True, return_total_count=True, verbose=False, print_query=True)

ais.set_filters(filter_config={
    'latest_report': [360, 525600],
    'lon': [-18, -4],
    'lat': [30, 31]
})
ais.get_area_data("WMED")

referer_url: https://www.marinetraffic.com/en/data/?asset_type=vessels&columns=time_of_latest_position,flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,mmsi,ship_type,show_on_live_map,area,area_local,lat_of_latest_position,lon_of_latest_position,fleet,status,eni,speed,course,draught,navigational_status,year_of_build,length,width,dwt,current_port_unlocode,current_port_country,callsign&area_in|in|WMED|area_in=WMED&time_of_latest_position_between|gte|time_of_latest_position_between=360,525600&lon_of_latest_position_between|range|lon_of_latest_position_between=-18,-4&lat_of_latest_position_between|range|lat_of_latest_position_between=30,31
request_url: https://www.marinetraffic.com/en/reports?asset_type=vessels&columns=time_of_latest_position,flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,mmsi,ship_type,show_on_live_map,area,area_local,lat_of_latest_position,lon_of_latest_position,fleet,status,eni,speed,course,draught,navigational_status,year_of_build,length,width,dwt,current_port_unlocode,current_port_country,callsign&area_in|in|WMED|area_in=WMED&time_of_latest_position_between|gte|time_of_latest_position_between=360,525600&lon_of_latest_position_between|range|lon_of_latest_position_between=-18,-4&lat_of_latest_position_between|range|lat_of_latest_position_between=30,31

(Empty DataFrame
 Columns: []
 Index: [],
 0)

In [ ]:
df, return_total_count = ais.get_data()
df

referer_url: https://www.marinetraffic.com/en/data/?asset_type=vessels&columns=time_of_latest_position,flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,mmsi,ship_type,show_on_live_map,area,area_local,lat_of_latest_position,lon_of_latest_position,fleet,status,eni,speed,course,draught,navigational_status,year_of_build,length,width,dwt,current_port_unlocode,current_port_country,callsign
request_url: https://www.marinetraffic.com/en/reports?asset_type=vessels&columns=time_of_latest_position,flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,mmsi,ship_type,show_on_live_map,area,area_local,lat_of_latest_position,lon_of_latest_position,fleet,status,eni,speed,course,draught,navigational_status,year_of_build,length,width,dwt,current_port_unlocode,current_port_country,callsign

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,371681,9241061,310627000,ZCEF6,QUEEN MARY 2,6,1699622562,1,BM,Bermuda,...,344.3,48.7,ACTIVE,None,0,Rotterdam Area,2033,ROTTERDAM BOTLEK,-,false
1,5630138,9811000,353136000,H3RC,EVER GIVEN,7,1699088357,8,PA,Panama,...,399.9,59.0,ACTIVE,None,0,South China,None,None,-,false
2,371668,9477438,310625000,ZCEF2,QUEEN ELIZABETH,6,1699622710,4,BM,Bermuda,...,294.0,36.0,ACTIVE,None,0,Arabian Gulf,None,SALALAH,-,false
3,371584,1009613,310593000,ZCDX4,ECLIPSE,9,1699623130,3,BM,Bermuda,...,162.5,22.4,ACTIVE,None,0,Aegean Sea,73,MARMARIS,-,false
4,429068,7729057,366904940,WYR4481,PAUL R.TREGURTHA,7,1699623044,-5,US,USA,...,308.1,32.0,ACTIVE,None,0,Lake Erie,2497,MONROE,-,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,125055,9601326,219029786,OZSB2,WIND ORCA,3,1699546376,1,DK,Denmark,...,161.3,49.0,ACTIVE,None,0,Rotterdam Area,2049,SCHIEDAM,-,false
496,201758,1010222,538071095,V7NV8,LUNA,9,1656938531,1,MH,Marshall Is,...,114.0,20.0,ACTIVE,None,0,Elbe River,None,None,-,false
497,284103,8814744,370610000,3EGC6,CROWN IRIS,6,1697797687,3,PA,Panama,...,207.1,33.2,ACTIVE,None,0,Aegean Sea,23,CHALKIS,-,false
498,155335,0,219015928,XP3539,ATHENA,9,1689614026,-4,DK,Denmark,...,12.0,4.0,ACTIVE,None,0,North Coast South America,649,CHAGUARAMAS,-,false
499,682121,1006324,470886000,A6E3044,DUBAI,9,1699623036,4,AE,UAE,...,160.0,22.5,ACTIVE,None,0,Dubai Area,104,DUBAI,-,false