<h1>AIS-Explorer</h1>
<p>AIS-Explorer is designed to grant free access to AIS-Data </p>
<p>Because the data is scraped from https://www.marinetraffic.com please use the functions with care and responsibility</p>
<h2>Installing</h2>
<p>Installing is as simple as it could be. Just run <code> pip install ais_explorer </code>

<h2>Get Location by MMIS</h2>
<p>Returns a dictionary or pandas DataFrame containing the requested data. </p>
<p>Without cetting the parameter columns or columns_excluded all data will be fetched </p>

In [1]:
from ais_explorer.AIS import get_location

In [2]:
get_location(211281610)

[{'SHIP_ID': '460780',
  'IMO': '7302225',
  'MMSI': '211281610',
  'CALLSIGN': 'DBUI',
  'SHIPNAME': 'SEA WATCH 3',
  'TYPE_COLOR': '3',
  'LAST_POS': 1637441889,
  'TIMEZONE': '1',
  'CODE2': 'DE',
  'COUNTRY': 'Germany',
  'COUNT_PHOTOS': '51',
  'NEXT_PORT_NAME': 'TRAPANI',
  'NEXT_PORT_COUNTRY': 'IT',
  'NEXT_PORT_ID': '1028',
  'ETA': None,
  'DESTINATION': 'TRAPANI',
  'TYPE_SUMMARY': 'Special Craft',
  'COURSE': None,
  'LON': '12.50947',
  'LAT': '38.01101',
  'INLAND_ENI': None,
  'STATUS_NAME': 'Moored',
  'YOB': '1973',
  'DWT': '498',
  'CURRENT_PORT_UNLOCODE': 'ITTPS',
  'CURRENT_PORT_COUNTRY': 'IT',
  'AREA_CODE': 'WMED - West Mediterranean',
  'ETA_OFFSET': '1',
  'SPEED': '0.0',
  'DRAUGHT': '3.6',
  'LENGTH': '50.3',
  'WIDTH': '11.6',
  'STATUS': 'ACTIVE',
  'ETA_UPDATED': None,
  'DISTANCE_TO_GO': '0',
  'AREA_NAME': 'Tyrrhenian Sea',
  'PORT_ID': '1028',
  'CURRENT_PORT': 'TRAPANI',
  'COLLECTION_NAME': '-',
  'CTA_ROUTE_FORECAST': 'false'}]

In [3]:
get_location(211281610, return_df=True)

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,460780,7302225,211281610,DBUI,SEA WATCH 3,3,1637441889,1,DE,Germany,...,50.3,11.6,ACTIVE,None,0,Tyrrhenian Sea,1028,TRAPANI,-,false

<h2>Get AREA by area name </h2>
<p>Returns a list of dictionaries or a pandas DataFrame</p>
<p>You can see all the area names and the corresponding areas on https://help.marinetraffic.com/hc/en-us/articles/214556408-Areas-of-the-World-How-does-MarineTraffic-segment-them- </p>
<p><strong> Maximum 500 rows </strong></p>

In [4]:
from ais_explorer.AIS import get_area_data

In [5]:
get_area_data("EMED"); # remove semicolon to see output

In [6]:
get_area_data("EMED", return_df= True)

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,4614951,9675470,271044654,TCA4398,ORUC REIS,3,1637442100,3,TR,Turkey,...,86.0,19.0,ACTIVE,None,0,East Mediterranean,None,None,-,false
1,289056,9384552,249555000,9HUQ9,MALTESE FALCON,9,1637442045,2,MT,Malta,...,87.3,12.5,ACTIVE,None,0,Aegean Sea,12,NAFPLIO,-,false
2,371256,9169550,310473000,ZCDN9,QUEEN OF THE OCEANS,6,1637441955,2,BM,Bermuda,...,261.2,32.3,ACTIVE,None,0,Ionian Sea,51,PATRA,-,false
3,212537,9208679,240389000,SYJZ,BLUE STAR MYCONOS,6,1637442109,2,GR,Greece,...,141.0,21.0,ACTIVE,2021-11-20 20:57:00,218,Aegean Sea,None,None,-,true
4,374600,9161716,311317000,C6SE5,VOYAGER OF THE SEAS,6,1637442090,2,BS,Bahamas,...,311.1,47.4,ACTIVE,None,0,East Mediterranean,22134,LIMASSOL ANCH,-,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,378013,8913071,667001723,9LU2526,JAOHAR RAVENNA,7,1637439380,3,SL,Sierra Leone,...,103.6,16.0,ACTIVE,None,0,East Mediterranean,20623,MERSIN ANCH,-,false
496,401745,9322841,373839000,3FRI5,SING,7,1637442100,3,PA,Panama,...,126.6,20.4,ACTIVE,2021-11-20 20:40:00,132,Aegean Sea,17451,CANAKKALE,-,true
497,283730,9132492,312245000,V3RA5,BOGDAN,7,1637442082,2,BZ,Belize,...,142.1,22.3,ACTIVE,2021-11-20 20:29:00,874,Aegean Sea,None,None,-,true
498,280166,9374234,247271400,ICFV,MAGNIFICA,8,1637442081,1,IT,Italy,...,176.0,31.0,ACTIVE,2021-11-20 20:50:00,659,Ionian Sea,None,None,-,true
499,210682,7524017,239279500,SY8782,KOSTAS DIMAKIS,7,1637442090,2,GR,Greece,...,67.0,11.7,ACTIVE,2021-11-20 20:50:00,148,Aegean Sea,None,None,-,true