<h1>AIS-Explorer</h1>
<p>AIS-Explorer is designed to grant free access to AIS-Data </p>
<p>Because the data is scraped from https://www.marinetraffic.com please use the functions with care and responsibility</p>
<h2>Installing</h2>
<p>Installing is as simple as it could be. Just run <code> pip install ais_explorer </code>

<h2>Get Location by MMIS</h2>
<p>Returns a dictionary or pandas DataFrame containing the requested data. </p>
<p>Without cetting the parameter columns or columns_excluded all data will be fetched </p>

In [1]:
from aisexplorer.AIS import AIS
from aisexplorer.Utils.Utility import set_types_df

In [2]:
AIS().get_location(211281610)

[{'SHIP_ID': '460780',
  'IMO': '7302225',
  'MMSI': '211281610',
  'CALLSIGN': 'DBUI',
  'SHIPNAME': 'SEA WATCH 3',
  'TYPE_COLOR': '3',
  'LAST_POS': 1674337532,
  'TIMEZONE': '1',
  'CODE2': 'DE',
  'COUNTRY': 'Germany',
  'COUNT_PHOTOS': '52',
  'NEXT_PORT_NAME': 'REGGIO',
  'NEXT_PORT_COUNTRY': 'IT',
  'NEXT_PORT_ID': '161',
  'ETA': None,
  'DESTINATION': 'ITREG',
  'CURRENT_PORT_COUNTRY': 'IT',
  'TYPE_SUMMARY': 'Special Craft',
  'COURSE': None,
  'LON': '15.65215',
  'LAT': '38.12405',
  'INLAND_ENI': None,
  'STATUS_NAME': 'Moored',
  'YOB': '1973',
  'DWT': '498',
  'CURRENT_PORT_UNLOCODE': 'ITREG',
  'AREA_CODE': 'WMED - West Mediterranean',
  'ETA_OFFSET': None,
  'SPEED': '0.0',
  'DRAUGHT': '3.4',
  'LENGTH': '50.3',
  'WIDTH': '11.6',
  'STATUS': 'ACTIVE',
  'ETA_UPDATED': None,
  'DISTANCE_TO_GO': '0',
  'AREA_NAME': 'Tyrrhenian Sea',
  'PORT_ID': '161',
  'CURRENT_PORT': 'REGGIO',
  'COLLECTION_NAME': '-',
  'CTA_ROUTE_FORECAST': 'false'}]

In [3]:
AIS(return_df=True).get_location(211281610)

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,460780,7302225,211281610,DBUI,SEA WATCH 3,3,1674337532,1,DE,Germany,...,50.3,11.6,ACTIVE,None,0,Tyrrhenian Sea,161,REGGIO,-,false

<h2>Get AREA by area name </h2>
<p>Returns a list of dictionaries or a pandas DataFrame</p>
<p>You can see all the area names and the corresponding areas on https://help.marinetraffic.com/hc/en-us/articles/214556408-Areas-of-the-World-How-does-MarineTraffic-segment-them- </p>
<p><strong> Maximum 500 rows </strong></p>

In [4]:
AIS().get_area_data("EMED"); # remove semicolon to see output

In [5]:
AIS(return_df=True).get_area_data("EMED")

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,371681,9241061,310627000,ZCEF6,QUEEN MARY 2,6,1674304827,2,BM,Bermuda,...,344.3,48.7,ACTIVE,2023-01-21 12:56:00,44,East Mediterranean,20612,PORT SAID ANCH,-,true
1,5630138,9811000,353136000,H3RC,EVER GIVEN,7,1674337563,2,PA,Panama,...,399.9,59.0,ACTIVE,2023-01-21 21:19:00,177,Aegean Sea,None,None,-,true
2,371584,1009613,310593000,ZCDX4,ECLIPSE,9,1674337443,3,BM,Bermuda,...,162.5,22.4,ACTIVE,None,0,Aegean Sea,24378,BODRUM ANCH,-,false
3,211385,9207584,239737000,SYSV,BLUE STAR 2,6,1674337455,2,GR,Greece,...,176.1,26.2,ACTIVE,2023-01-21 21:42:00,63,Aegean Sea,59,RHODES,-,true
4,214617,9565041,241159000,SVBF8,BLUE STAR PATMOS,6,1674337566,2,GR,Greece,...,145.9,23.2,ACTIVE,2023-01-21 21:42:00,1,Aegean Sea,None,None,-,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,287972,8223309,249180000,9HMI9,DEMETRIOS B,7,1674337376,2,MT,Malta,...,103.8,15.5,ACTIVE,None,0,Aegean Sea,None,None,-,false
496,291066,7820693,357088000,HO9840,ALKARAMA,3,1611740277,2,PA,Panama,...,66.0,11.0,ACTIVE,None,0,East Mediterranean,17454,BENGHAZI,-,false
497,300102,9147215,271044659,TCA4407,MED CERKEZKOY,7,1674337490,3,TR,Turkey,...,146.4,22.7,ACTIVE,None,0,East Mediterranean,20623,MERSIN ANCH,-,false
498,676332,7104972,450421000,ODQV,FREEDOM,7,1674337381,2,LB,Lebanon,...,87.0,15.0,ACTIVE,None,0,East Mediterranean,271,BEIRUT,-,false
499,757413,9295414,538008593,V7A2549,SC MONTREUX,7,1674336812,2,MH,Marshall Is,...,264.0,32.3,ACTIVE,None,0,East Mediterranean,None,None,-,false

<h2> Use Proxies </h2>

In [6]:
from aisexplorer.Proxy import FreeProxy

proxy = FreeProxy()
proxy.get()

/home/projects/AISExplorer/aisexplorer/Proxy.py:219: UserWarning: For the prefered country no working proxies have been found. Checking Countries. If countries is None all countries will be checked
  warnings.warn(

<h2> Use Proxies directly with AIS </h2>

In [7]:
AIS(proxy=True, return_df=True, verbose=True).get_area_data("EMED")

Searching for proxy...
Proxy found...
Used proxy: None

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,371681,9241061,310627000,ZCEF6,QUEEN MARY 2,6,1674304827,2,BM,Bermuda,...,344.3,48.7,ACTIVE,2023-01-21 12:56:00,44,East Mediterranean,20612,PORT SAID ANCH,-,true
1,5630138,9811000,353136000,H3RC,EVER GIVEN,7,1674337563,2,PA,Panama,...,399.9,59.0,ACTIVE,2023-01-21 21:19:00,172,Aegean Sea,None,None,-,true
2,371584,1009613,310593000,ZCDX4,ECLIPSE,9,1674337443,3,BM,Bermuda,...,162.5,22.4,ACTIVE,None,0,Aegean Sea,24378,BODRUM ANCH,-,false
3,211385,9207584,239737000,SYSV,BLUE STAR 2,6,1674337455,2,GR,Greece,...,176.1,26.2,ACTIVE,2023-01-21 21:42:00,62,Aegean Sea,59,RHODES,-,true
4,214617,9565041,241159000,SVBF8,BLUE STAR PATMOS,6,1674337566,2,GR,Greece,...,145.9,23.2,ACTIVE,2023-01-21 21:42:00,1,Aegean Sea,None,None,-,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,361601,9204491,241511000,SVCP7,IAPETOS,7,1674337474,2,GR,Greece,...,133.3,22.9,ACTIVE,None,0,Aegean Sea,None,None,-,false
496,287972,8223309,249180000,9HMI9,DEMETRIOS B,7,1674337376,2,MT,Malta,...,103.8,15.5,ACTIVE,None,0,Aegean Sea,None,None,-,false
497,291066,7820693,357088000,HO9840,ALKARAMA,3,1611740277,2,PA,Panama,...,66.0,11.0,ACTIVE,None,0,East Mediterranean,17454,BENGHAZI,-,false
498,300102,9147215,271044659,TCA4407,MED CERKEZKOY,7,1674337490,3,TR,Turkey,...,146.4,22.7,ACTIVE,None,0,East Mediterranean,20623,MERSIN ANCH,-,false
499,676332,7104972,450421000,ODQV,FREEDOM,7,1674337381,2,LB,Lebanon,...,87.0,15.0,ACTIVE,None,0,East Mediterranean,271,BEIRUT,-,false

<h2> Use Filters </h2>

In [8]:
ais = AIS(proxy=True, return_df=True, return_total_count=True, verbose=False, print_query=True)

ais.set_filters(filter_config={
    'latest_report': [360, 525600],
    'lon': [-18, -4],
    'lat': [30, 31]
})
df, return_total_count = ais.get_area_data("UKC")
df

/home/projects/AISExplorer/aisexplorer/Proxy.py:219: UserWarning: For the prefered country no working proxies have been found. Checking Countries. If countries is None all countries will be checked
  warnings.warn(

referer_url: https://www.marinetraffic.com/en/data/?asset_type=vessels&columns=time_of_latest_position,flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,mmsi,ship_type,show_on_live_map,area,area_local,lat_of_latest_position,lon_of_latest_position,fleet,status,eni,speed,course,draught,navigational_status,year_of_build,length,width,dwt,current_port_unlocode,current_port_country,callsign&area_in|in|UKC|area_in=UKC&time_of_latest_position_between|gte|time_of_latest_position_between=360,525600&lon_of_latest_position_between|range|lon_of_latest_position_between=-18,-4&lat_of_latest_position_between|range|lat_of_latest_position_between=30,31
request_url: https://www.marinetraffic.com/en/reports?asset_type=vessels&columns=time_of_latest_position,flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,mmsi,ship_type,show_on_live_map,area,area_local,lat_of_latest_position,lon_of_latest_position,fleet,status,eni,speed,course,draught,navigational_status,year_of_build,length,width,dwt,current_port_unlocode,current_port_country,callsign&area_in|in|UKC|area_in=UKC&time_of_latest_position_between|gte|time_of_latest_position_between=360,525600&lon_of_latest_position_between|range|lon_of_latest_position_between=-18,-4&lat_of_latest_position_between|range|lat_of_latest_position_between=30,31

Empty DataFrame
Columns: []
Index: []

In [9]:
df, return_total_count = ais.get_data()
df

referer_url: https://www.marinetraffic.com/en/data/?asset_type=vessels&columns=time_of_latest_position,flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,mmsi,ship_type,show_on_live_map,area,area_local,lat_of_latest_position,lon_of_latest_position,fleet,status,eni,speed,course,draught,navigational_status,year_of_build,length,width,dwt,current_port_unlocode,current_port_country,callsign
request_url: https://www.marinetraffic.com/en/reports?asset_type=vessels&columns=time_of_latest_position,flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,mmsi,ship_type,show_on_live_map,area,area_local,lat_of_latest_position,lon_of_latest_position,fleet,status,eni,speed,course,draught,navigational_status,year_of_build,length,width,dwt,current_port_unlocode,current_port_country,callsign

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,371681,9241061,310627000,ZCEF6,QUEEN MARY 2,6,1674304827,2,BM,Bermuda,...,344.3,48.7,ACTIVE,2023-01-21 12:56:00,44,East Mediterranean,20612,PORT SAID ANCH,-,true
1,5630138,9811000,353136000,H3RC,EVER GIVEN,7,1674337563,2,PA,Panama,...,399.9,59.0,ACTIVE,2023-01-21 21:19:00,177,Aegean Sea,None,None,-,true
2,371584,1009613,310593000,ZCDX4,ECLIPSE,9,1674337443,3,BM,Bermuda,...,162.5,22.4,ACTIVE,None,0,Aegean Sea,24378,BODRUM ANCH,-,false
3,371668,9477438,310625000,ZCEF2,QUEEN ELIZABETH,6,1674337227,11,BM,Bermuda,...,294.0,36.0,ACTIVE,None,0,Tasman Sea,885,HOBART,-,false
4,372813,9383936,311020600,C6XS7,OASIS OF THE SEAS,6,1674252984,-5,BS,Bahamas,...,360.0,60.5,ACTIVE,2023-01-20 22:37:00,645,Gulf of Honduras,None,None,-,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,289021,8027298,-8027298,9HUI9,MARELLA CELEBRATION,6,1595230909,3,MT,Malta,...,214.6,27.2,DEAD,None,0,Piraeus Area,20431,ELEFSIS ANCH,-,false
496,465481,9605205,373705000,3FLB3,C. PROGRESS,8,1673648972,0,PA,Panama,...,333.0,60.0,ACTIVE,None,0,Gulf of Guinea,22229,JUBILEE,-,false
497,386455,1010387,319808000,ZGBG9,VAVA II,9,1560182311,3,KY,Cayman Is,...,96.8,17.2,ACTIVE,None,0,Aegean Sea,43,SANTORINI,-,false
498,305289,9682148,416007369,BR4505,ORIENT CONSTRUCTOR,3,1674337465,8,TW,Taiwan,...,115.4,22.0,ACTIVE,None,0,East China Sea,None,None,-,false
499,130537,0,211211730,DRKA,BERLIN,3,1674032119,1,DE,Germany,...,174.0,24.0,ACTIVE,None,0,North Sea,389,WILHELMSHAVEN,-,false

<h2>Use Login</h2>

In [10]:
from dotenv import load_dotenv
import os
from aisexplorer.AIS import AIS

load_dotenv()

True

In [11]:

email = os.environ.get("EMAIL") # or your email
password = os.environ.get("PASSWORD") # or your password

ais = AIS(return_df=True, return_total_count=True, verbose=False, print_query=False)
ais.login(email, password)

In [12]:
ais.logged_in

True

In [13]:
ais.get_fleets()

[['2464302', 'rescue mediterenean sea'],
 ['2464339', 'second fleet'],
 ['2464444', 'testfleet']]

In [14]:
df, total_count = ais.get_area_data("EMED")
df

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,371681,9241061,310627000,ZCEF6,QUEEN MARY 2,6,1674304827,2,BM,Bermuda,...,344.3,48.7,ACTIVE,2023-01-21 12:56:00,44,East Mediterranean,20612,PORT SAID ANCH,testfleet,true
1,5630138,9811000,353136000,H3RC,EVER GIVEN,7,1674337563,2,PA,Panama,...,399.9,59.0,ACTIVE,2023-01-21 21:19:00,177,Aegean Sea,None,None,-,true
2,371584,1009613,310593000,ZCDX4,ECLIPSE,9,1674337443,3,BM,Bermuda,...,162.5,22.4,ACTIVE,None,0,Aegean Sea,24378,BODRUM ANCH,-,false
3,211385,9207584,239737000,SYSV,BLUE STAR 2,6,1674337455,2,GR,Greece,...,176.1,26.2,ACTIVE,2023-01-21 21:42:00,63,Aegean Sea,59,RHODES,-,true
4,214617,9565041,241159000,SVBF8,BLUE STAR PATMOS,6,1674337566,2,GR,Greece,...,145.9,23.2,ACTIVE,2023-01-21 21:42:00,1,Aegean Sea,None,None,-,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,752901,8213392,-8213392,ELVE9,SEVEN OSPREY,3,1519894418,3,LR,Liberia,...,101.7,19.6,DEAD,None,0,Aegean Sea,None,None,-,false
496,757413,9295414,538008593,V7A2549,SC MONTREUX,7,1674336812,2,MH,Marshall Is,...,264.0,32.3,ACTIVE,None,0,East Mediterranean,None,None,-,false
497,300102,9147215,271044659,TCA4407,MED CERKEZKOY,7,1674337490,3,TR,Turkey,...,146.4,22.7,ACTIVE,None,0,East Mediterranean,20623,MERSIN ANCH,-,false
498,291066,7820693,357088000,HO9840,ALKARAMA,3,1611740277,2,PA,Panama,...,66.0,11.0,ACTIVE,None,0,East Mediterranean,17454,BENGHAZI,-,false
499,676332,7104972,450421000,ODQV,FREEDOM,7,1674337381,2,LB,Lebanon,...,87.0,15.0,ACTIVE,None,0,East Mediterranean,271,BEIRUT,-,false

In [15]:
ais.login(email, password)

In [16]:
df, total_count = ais.get_vessels_by_fleet_id("2464339")

In [17]:
df, total_count = ais.get_vessels_by_fleet_name("second fleet")
df

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,130457,5133644,211210280,DRAX,GORCH FOCK,3,1667310211,1,DE,Germany,...,81.4,12.0,ACTIVE,None,0,Kiel Canal,171,KIEL,second fleet,false

In [18]:
df, total_count = ais.get_vessels_in_all_fleets()
df

,SHIP_ID,IMO,MMSI,CALLSIGN,SHIPNAME,TYPE_COLOR,LAST_POS,TIMEZONE,CODE2,COUNTRY,...,LENGTH,WIDTH,STATUS,ETA_UPDATED,DISTANCE_TO_GO,AREA_NAME,PORT_ID,CURRENT_PORT,COLLECTION_NAME,CTA_ROUTE_FORECAST
0,371681,9241061,310627000,ZCEF6,QUEEN MARY 2,6,1674304827,2,BM,Bermuda,...,344.3,48.7,ACTIVE,2023-01-21 12:56:00,44,East Mediterranean,20612,PORT SAID ANCH,testfleet,true
1,130457,5133644,211210280,DRAX,GORCH FOCK,3,1667310211,1,DE,Germany,...,81.4,12.0,ACTIVE,None,0,Kiel Canal,171,KIEL,second fleet,false
2,460780,7302225,211281610,DBUI,SEA WATCH 3,3,1674337532,1,DE,Germany,...,50.3,11.6,ACTIVE,None,0,Tyrrhenian Sea,161,REGGIO,rescue mediterenean sea,false
3,130235,7427518,211300760,DJCW,HUMANITY 1,7,1674337525,1,DE,Germany,...,60.7,11.4,ACTIVE,None,0,Balearic Sea,631,BURRIANA,rescue mediterenean sea,false
4,206397,9421556,211879870,DCDR2,SEA WATCH 5,3,1674337409,1,DE,Germany,...,58.0,13.8,ACTIVE,None,0,Baltic Sea,386,FLENSBURG,rescue mediterenean sea,false